.button {
  border-radius: var(--border-radius-1);
  padding: var(--space-1) var(--space-2);
  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-color);
}

.button:hover {
  cursor: pointer;
  background-color: var(--button-bg-color-hover);
}
