@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./variables/variables.css');

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-w-[350px];
  }
}

main {
  min-height: calc(100vh - (66px + 144px));
  padding: 0 40px;
}

@media (max-width: 1280px) {
  main {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 15px;
  }
}

* {
  box-sizing: border-box;
}
