@import './normalize.scss';

:root {
  // Colors
  --color-violet-50: #faf3f9;
  --color-violet-100: #f6ecff;
  --color-violet-200: #e7d6fb;
  --color-violet-300: #caabf1;
  --color-violet-400: #ac7ce8;
  --color-violet-500: #9354e0;
  --color-violet-600: #833cdb;
  --color-violet-700: #7b2eda;
  --color-violet-800: #6921c2;
  --color-violet-900: #5d1cae;
  --color-violet-950: #501599;
  --color-violet-1000: #09000e;
  --warning-font-color: #ff0000;
  --color-white: #ffffff;
  --color-black: #000000;

  // Fonts
  --font-bold: 700;
  --font-regular: 400;
  --base-line-height: 1.5;

  // Font sizes
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 36px;
  --font-size-8: 48px;
  --font-size-9: 64px;
  --font-size-10: 72px;

  // Spacing
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;

  // Border radius
  --border-radius-1: 5px;
  --border-radius-2: 10px;
  --border-radius-3: 15px;
  --border-radius-4: 20px;
  --border-radius-5: 25px;
  --border-radius-6: 30px;
  --border-radius-7: 40px;
  --border-radius-8: 50px;
  --border-radius-9: 75px;
  --border-radius-10: 100%;

  //Container
  --container-spacing-1: 20px;
  --container-spacing-2: 40px;
  --container-spacing-3: 60px;
  --container-spacing-4: 80px;
}

// Theme
:root[data-theme='light'] {
  --primary-font-color: var(--color-black);
  --secondary-font-color: var(--color-violet-600);
  --bg-color: var(--color-violet-50);
  --button-bg-color: var(--color-violet-600);
  --button-color: var(--color-white);
  --button-bg-color-hover: var(--color-violet-700);
  --violet-font-color: var(--color-violet-600);
}

:root[data-theme='dark'] {
  --base-font-color: var(--color-white);
  --secondary-font-color: var(--color-violet-600);
  --primary-bg-color: var(--color-violet-1000);
  --bg-color: var(--color-violet-1000);
  --button-bg-color: var(--color-violet-600);
  --button-bg-color-hover: var(--color-violet-700);
  --button-color: var(--color-white);
  --violet-font-color: var(--color-violet-600);
}

// Styles
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-size: var(--font-size-3);
  color: var(--primary-font-color);
  font-weight: var(--font-regular);
  line-height: var(--base-line-height);
}

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-spacing-2);

  @media screen and (max-width: 768px) {
    padding: 0 var(--container-spacing-1);
  }
}
